

<div class="table-wrapp">

    <table>
        <thead>
            <tr>
                <th *ngFor="let title of displayedColumns" >{{ title }}</th>
            </tr>
        </thead>
    
        <tbody *ngFor="let item of dataSource | keyvalue">
            <tr>
                <td>{{item.key }}</td>
            </tr>
            <tr *ngFor="let member of item.value | keyvalue">
                <td>{{ member.value.name }}</td>
                <td>{{ member.value.vehicle }}</td>
                <td>{{ member.value.cubature }}</td>
                <td>{{ member.value.weight }}</td>
                <td>{{ member.value.category.title}}</td>
                <td>{{ member.value.time }}</td>
            </tr>
        </tbody>
    </table>

</div>
